@model IEnumerable<OnlineSchool.Models.ViewCourseModel>

@{
    ViewData["Title"] = "Admin-Courses";
    //Layout = "_AdminLayout";

}

<div class="my-4">
    <a asp-action="index">Home</a> >>
    <span class="breadcrum-link">Courses</span>
</div>

<div class="element-wrapper">
    <div class="element-actions text-right">
        <a class="mr-2 mb-2 btn btn-custom-primary btn-rounded" asp-action="AddCourse">Create New</a>
    </div>
    <div class="card box-shadow mt-1">
        <div class="card-body">
            <h6 class="element-header mb-2">
                Courses
            </h6>
            <div class="table-responsive">
                <table class="table table-lightborder">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TutorName)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseDescription)
                                </td>
                                <td>
                                    <div style="width:100px">
                                        @Html.DisplayFor(modelItem => item.TutorName)
                                    </div>
                                </td>
                                <td style="width:50px">
                                    <div style="width:35px">
                                        <a asp-controller="Admin" asp-action="EditCourse" asp-route-id="@item.Id">Edit</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
