@model IEnumerable<OnlineSchool.Models.ViewStudentsModel>

@{
    ViewData["Title"] = "Students";
    Layout = "_AdminLayout";
}

<div class="element-wrapper">
    <div class="element-actions">
        <a class="mr-2 mb-2 btn btn-primary btn-rounded" asp-action="AddStudent">Create New</a>
    </div>
    <h6 class="element-header">
        Students
    </h6>
    <div class="table-responsive">
        <table class="table table-lightborder">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MatricNumber)
                    </th>
                    <th>
                        Images
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatricNumber)
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                     style="background-image: url(@Url.Content(item.ProfilePicture).Replace("\\","/"))">
                                </div>
                            </div>
                            
                            @*<img src="@Url.Content(item.ProfilePicture)" style="width:50px;height:50px" />*@
                        </td>
                        <td>
                            <a class="mr-2 mb-2 btn btn-secondary" asp-controller="Admin" asp-action="EditStudent" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div class="table-responsive">
</div>
