@model IEnumerable<OnlineSchool.Models.ViewCourseModel>

@{
    ViewData["Title"] = "Students";
    Layout = "_AdminLayout";
}

<div class="element-wrapper">
    <div class="element-actions">
        <a class="mr-2 mb-2 btn btn-primary btn-rounded" asp-action="AddCourse">Create New</a>
    </div>
    <h6 class="element-header">
        Courses
    </h6>
    <div class="table-responsive">
        <table class="table table-lightborder">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseTitle)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseTitle)
                        </td>
                        <td>
                            <a class="mr-2 mb-2 btn btn-secondary" asp-controller="Tutor" asp-action="Course" asp-route-id="@item.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
</div>