@model OnlineSchool.Models.ViewCourseDetailsModel
@{
    ViewData["Title"] = "Course";
}

<h1>Course</h1>
<h4>@Model.CourseTitle</h4>
<h6>@Model.CourseDescription</h6>
<hr />
<div>Lectures (@Model.NumberOfLectures)</div>
<div>
    <a asp-action="NewLecture" asp-controller="Tutor" asp-route-id="@Model.Id">New lecture</a>
</div>
<hr />
@foreach (var lecture in Model.Lectures)
{
    <div>
        <div>@lecture.Title</div>
        <div>@lecture.BriefDescription</div>
        <div>
            <a href="@Url.Content(lecture.FilePath)" target="_blank">View</a>
        </div>
    </div>
    <hr />
}

<div>Exams (@Model.NumberOfExams)</div>
<hr />
<div>
    <a asp-action="NewExam" asp-controller="Tutor" asp-route-id="@Model.Id">New Exam</a>
</div>
@foreach(var exam in Model.Exams)
{
    <div>
        <div>@exam.Title</div>
        <div>@exam.TotalScore</div>
        <div>@exam.StartTime</div>
        <a asp-action="EditExam" asp-controller="Tutor" asp-route-id="@exam.Id">Edit</a>
        <hr />
    </div>
}
