@model IEnumerable<OnlineSchool.Models.ViewCourseModel>

@{
    ViewData["Title"] = "Students";
}

<h1>Courses</h1>

<p>
    <a asp-action="AddCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    <a asp-controller="Tutor" asp-action="Course" asp-route-id="@item.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
