@model OnlineSchool.Models.ViewCourseDetailsModel
@{
    ViewData["Title"] = "Course";
    Layout = "_AdminLayout";
}
<div class="element-wrapper">
    <h6 class="element-header">
        Course
    </h6>
    <div class="element-box">
        <h5 class="form-header">
            @Model.CourseTitle
        </h5>
        <div class="form-desc">
            @Model.CourseDescription
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="element-box">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="form-header">
                            Lectures (@Model.NumberOfLectures)
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <div class="element-actions">
                            <a class="mr-2 mb-2 btn btn-primary btn-rounded" asp-action="NewLecture" asp-controller="Tutor" asp-route-id="@Model.Id">New lecture</a>
                        </div>
                    </div>


                </div>
                <div class="form-desc">
                    @foreach (var lecture in Model.Lectures)
                    {
                        <div class="logged-user-w avatar-inline">
                            <div class="logged-user-i">
                                <div class="avatar-w">
                                    <img alt="" src="@Url.Content(lecture.FilePath)">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        @lecture.Title
                                    </div>
                                    <div class="logged-user-role">
                                        @lecture.BriefDescription
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="element-box">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="form-header">
                            Exams (@Model.NumberOfExams)
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <div class="element-actions">
                            <a class="mr-2 mb-2 btn btn-primary btn-rounded" asp-action="NewExam" asp-controller="Tutor" asp-route-id="@Model.Id">New Exam</a>
                        </div>
                    </div>


                </div>
                <div class="form-desc">
                    @foreach (var exam in Model.Exams)
                    {
                        <div>
                            <div>@exam.Title</div>
                            <div>@exam.TotalScore</div>
                            <div>@exam.StartTime</div>
                            <a class="btn btn-sm btn-secondary" asp-action="Exam" asp-controller="Tutor" asp-route-id="@exam.Id">View</a>
                            <a class="btn btn-sm btn-info" asp-action="EditExam" asp-controller="Tutor" asp-route-id="@exam.Id">Edit</a>
                            <hr />
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>



</div>