@model OnlineSchool.Models.ViewExamModel
@{
    ViewData["Title"] = "Exam";
    Layout = "_AdminLayout";
}
<style>
    .el-tablo .value{
        font-size:.9rem;
    }
</style>
<div class="element-wrapper">
    <h6 class="element-header">
        @Model.CourseTitle
    </h6>
    <div class="element-box">
        <h5 class="form-header">
            @Model.CourseCode
        </h5>
        <div class="form-desc">
            @Model.Title
        </div>
    </div>
    <h6 class="element-header">
        Quick Statistics
    </h6>
    <div class="element-content">
        <div class="row">
            <div class="col-md-3">
                <a class="element-box el-tablo" href="#">
                    <div class="label">
                        Total score
                    </div>
                    <div class="value">
                        @Model.TotalScore
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="element-box el-tablo" href="#">
                    <div class="label">
                        Duration
                    </div>
                    <div class="value">
                        @Model.DurationInMinutes minutes
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="element-box el-tablo" href="#">
                    <div class="label">
                        Start time
                    </div>
                    <div class="value">
                        @Model.StartTime
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="element-box el-tablo" href="#">
                    <div class="label">
                        End time
                    </div>
                    <div class="value">
                        @Model.DeadlineEndTime
                    </div>
                </a>
            </div>
        </div>
    </div>
    @*<div>Total score: @Model.TotalScore</div>
        <div>Duration :@Model.DurationInMinutes minutes</div>
        <div>Start time: @Model.StartTime</div>
        <div>Deadline start time: @Model.DeadlineStartTime</div>
        <div>End time: @Model.DeadlineEndTime</div>*@
    <div class="element-content">

    </div>
    <div class="element-wrapper">
        <div class="element-actions">
            <a class="mr-2 mb-2 btn btn-primary btn-rounded" asp-action="AddMcq" asp-controller="tutor" asp-route-id="@Model.Id">Add MCQ</a>
        </div>
        <h6 class="element-header">
            Questions
        </h6>
        <div class="row">
            @foreach (var mcq in Model.McqQuestions)
            {
                <div class="support-index mt-2 col-md-6">
                    <div class="support-tickets">
                        <div class="support-ticket ">
                            <div class="st-meta">
                                <div class="badge badge-success-inverted">
                                    @mcq.Score marks
                                </div>

                            </div>
                            <a  asp-controller="tutor" asp-action="editmcq" asp-route-id="@mcq.Id" style="text-decoration:none">
                                <div class="st-body">
                                    <div class="ticket-content">
                                        <h6 class="ticket-title">
                                            @mcq.Question
                                        </h6>
                                        <div class="ticket-description" style="height:auto">
                                            @foreach (var option in mcq.Options)
                                            {
                                                if (option.AnsId == mcq.AnswerId)
                                                {
                                                    <div class="font-weight-bold">@option.Option</div>
                                                }
                                                else
                                                {
                                                    <div>@option.Option</div>
                                                }

                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="st-foot">
                                    <a class="btn btn-sm btn-dark" asp-action="EditMcq" asp-route-id="@mcq.Id">Edit</a>
                                    <a class="btn btn-sm btn-danger text-white" onclick="DeleteMcq(@mcq.Id)">Delete</a>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    </div>
    <script>
        function DeleteMcq(id) {
            if (confirm("Are you sure you want to delete this question?")) {
                location.href = "/tutor/deletemcq/" + id;
            }
        }
    </script>
