@model OnlineSchool.Models.ViewExamModel
@{
    ViewData["Title"] = "Exam";
    //Layout = "_AdminLayout";
}
<style>
    .el-tablo .value{
        font-size:.9rem;
    }
</style>
<div class="element-wrapper">
    <div class="my-4">
        <a asp-action="index">Home</a> >> <a asp-action="course" asp-route-id="@Model.CourseId">@Model.CourseCode</a> >> 
        <span class="breadcrum-link">@Model.Title</span> >> <span class="breadcrum-link">Questions</span>
    </div>

    <h6 class="element-header">
        <span style="font-size:20px;font-weight:600">@Model.CourseTitle.ToUpper() | @Model.CourseCode.ToUpper()</span>
    </h6>
    <div class="element-box">
        <div class="form-desc my-2" style="font-size:18px">
            @Model.Title
        </div>
    </div>
    <h6 class="element-header my-4" style="font-size:15px;font-weight:600">
        Quick Statistics
    </h6>
    <div class="card box-shadow">
        <div class="row card-body">
            <div class="col-md-3">
                <div>
                    <div class="label" style="font-size:16px;">
                        Total score
                    </div>
                    <div class="value" style="font-size:16px; font-weight:600">
                        @Model.TotalScore
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="label" style="font-size:16px;">
                    Duration
                </div>
                <div class="value" style="font-size:16px; font-weight:600">
                    @Model.DurationInMinutes minutes
                </div>
            </div>
            <div class="col-md-3">
                <div class="label" style="font-size:16px;">
                    Start time
                </div>
                <div class="value" style="font-size:16px; font-weight:600">
                    @Model.StartTime
                </div>
            </div>
            <div class="col-md-3">
                <div class="label" style="font-size:16px;">
                    End time
                </div>
                <div class="value" style="font-size:16px; font-weight:600">
                    @Model.DeadlineEndTime
                </div>
            </div>
        </div>
    </div>
    @*<div>Total score: @Model.TotalScore</div>
        <div>Duration :@Model.DurationInMinutes minutes</div>
        <div>Start time: @Model.StartTime</div>
        <div>Deadline start time: @Model.DeadlineStartTime</div>
        <div>End time: @Model.DeadlineEndTime</div>*@
    <div class="element-content">

    </div>
    <div class="element-wrapper my-3">
        <div class="element-actions text-right">
            <a class="mr-2 mb-2 btn btn-custom-primary" asp-action="AddMcq" asp-controller="tutor" asp-route-id="@Model.Id">Add MCQ</a>
        </div>
        <h6 class="element-header">
            Mcq Questions
        </h6>
        <div class="row">
            @foreach (var mcq in Model.McqQuestions)
            {
                <div class="support-index mt-2 col-md-6">
                    <div class="card box-shadow">
                        <div class="card-body">
                            <div class="st-meta">

                            </div>
                            <div class="st-body">
                                <div class="ticket-content">
                                    <h6 class="ticket-title" style="font-size:16px">
                                        Question: @mcq.Question
                                    </h6>
                                    <hr class="m-1" />
                                    <div class="ticket-description" style="height:auto">
                                        Options:
                                        @foreach (var option in mcq.Options)
                                        {
                                            <div style="padding:0 25px;font-size:13px">
                                                @if (option.AnsId == mcq.AnswerId)
                                                {
                                                    <div class="font-weight-bold" style="color:#580e0e">- @option.Option</div>
                                                }
                                                else
                                                {
                                                    <div>- @option.Option</div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="st-foot text-right">
                                [@mcq.Score marks]
                                <a class="btn btn-sm btn-dark" asp-action="EditMcq" asp-route-id="@mcq.Id">Edit</a>
                                <a class="btn btn-sm btn-danger text-white" onclick="DeleteMcq(@mcq.Id)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

        <div class="element-actions text-right mt-5">
            <a class="mr-2 mb-2 btn btn-custom-primary" asp-action="AddTheoryQuestion" asp-controller="tutor" asp-route-id="@Model.Id">Add Theory question</a>
        </div>
        <h6 class="element-header mb-3">
            Theory type questions
        </h6>
        <div class="row">
            @foreach (var theory in Model.TheoryQuestions)
            {
                <div class="support-index mt-2 col-md-6">
                    <div class="card box-shadow">
                        <div class="card-body">
                            <div class="st-meta">

                            </div>
                            <div class="st-body">
                                <div class="ticket-content">
                                    <h6 class="ticket-title" style="font-size:16px">
                                        Question: @theory.Question
                                    </h6>
                                    <hr class="m-1" />
                                </div>
                            </div>
                            <div class="st-foot text-right">
                                [@theory.Score marks]
                                <a class="btn btn-sm btn-dark" asp-action="EditTheoryQuestion" asp-route-id="@theory.Id">Edit</a>
                                <a class="btn btn-sm btn-danger text-white" onclick="DeleteTheoryQuestion(@theory.Id)">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</div>
    <script>
        function DeleteMcq(id) {
            if (confirm("Are you sure you want to delete this question?")) {
                location.href = "/tutor/deletemcq/" + id;
            }
        }

        function DeleteTheoryQuestion(id){
            if (confirm("Are you sure you want to delete this question?")) {
                location.href = "/tutor/deletetheoryquestion/" + id;
            }
        }
    </script>
