@model IEnumerable<OnlineSchool.Models.ViewCourseModel>

@{
    ViewData["Title"] = "Students";
    //Layout = "_AdminLayout";
}

<img class="img-fluid cover-img" src="https://cdn.pixabay.com/photo/2017/02/24/02/37/classroom-2093744_960_720.jpg">

<div class="element-wrapper container">
    <div class="my-4">
        <a asp-action="index">Home</a>
    </div>
    <div class="element-actions text-left mt-5">
        <a class="mr-2 mb-2 btn btn-custom-primary btn-rounded" asp-action="Registeration" asp-controller="Course">Edit course registration</a>
    </div>
    <hr class="mt-0 mb-1" />
    <div class="row">
        @{
            foreach (var course in Model)
            {
                <div class="col-md-4">
                    <div class="card m-1" style="box-shadow: 1px 1px 4px rgb(47 47 47 / 40%);">
                        <div class="card-body" style=" padding: 10px">
                            <div style="font-size:18px;font-weight:600;">
                                @course.CourseTitle.ToUpper()
                            </div>
                            <div style="font-size:15px">
                                @course.CourseCode | @course.TutorName
                            </div>
                            <div style="font-size:12px">
                                @course.CourseDescription
                            </div>
                            <hr />
                            <a asp-action="view" asp-route-id="@course.Id" class="btn btn-custom-primary btn-sm w-100">view</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>

</div>


<style>
    .cover-img {
    /*border-radius: var(--border-radius-max);*/
    width: 100%;
    height: 350px;
}

@@media screen and (max-width: 480px) {
    .cover-img {
        height: 220px;
    }
}
</style>