@model OnlineSchool.Models.ViewCourseDetailsModel
@{
    ViewData["Title"] = "Course";
    Layout = "_AdminLayout";
}
<div class="element-wrapper">
    <h6 class="element-header">
        Course
    </h6>
    <div class="element-box">
        <h5 class="form-header">
            @Model.CourseTitle
        </h5>
        <div class="form-desc">
            @Model.CourseDescription <br>
            @Model.TutorName
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="element-box">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="form-header">
                            Lectures (@Model.NumberOfLectures)
                        </h5>
                    </div>


                </div>
                <div class="form-desc">
                    @foreach (var lecture in Model.Lectures)
                    {
                        <a>
                            <div class="logged-user-w avatar-inline">
                                <div class="logged-user-i">
                                    <div class="avatar-w">
                                        <img alt="" src="@Url.Content(lecture.FilePath)">
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">
                                            @lecture.Title
                                        </div>
                                        <div class="logged-user-role">
                                            @lecture.BriefDescription
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="element-box">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="form-header">
                            Exams (@Model.NumberOfExams)
                        </h5>
                    </div>
                </div>
                <div class="form-desc">
                    @foreach (var exam in Model.Exams)
                    {
                        <div>
                            <a asp-controller="exam" asp-action="index" asp-route-id="@exam.Id">
                                <div>@exam.Title [@exam.TotalScore]</div>
                            </a>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

</div>