@model OnlineSchool.Models.ViewCourseDetailsModel
@{
    ViewData["Title"] = "Course";
}

<h1>Course</h1>
<h4>@Model.CourseTitle</h4>
<h6>@Model.CourseDescription</h6>
<h6>@Model.TutorName</h6>
<hr />
<div>Lectures (@Model.NumberOfLectures)</div>
<hr />
@foreach (var lecture in Model.Lectures)
{
    <div>
        <div>@lecture.Title</div>
        <div>@lecture.BriefDescription</div>
        <div>
            <a href="@Url.Content(lecture.FilePath)" target="_blank">View</a>
        </div>
    </div>
    <hr />
}

<h4>Exams</h4>
<hr />
@foreach(var exam in Model.Exams)
{
    <div>@exam.Title [@exam.TotalScore]</div>
    <a asp-action="index" asp-controller="exam" asp-route-id="@exam.Id">Take exam</a>
}

