@model OnlineSchool.Models.ExamModel

<form method="post">
    <input asp-for="DurationInSeconds" hidden />
    <input asp-for="AttemptId" hidden />
    @{
        foreach (var mcq in Model.McqQuestions.Where(m => m.PageNumber == Model.PageNumber))
        {
            string questionDivId = $"question-div-{mcq.Id}-{mcq.QuestionNumber}";
            <div class="card my-3 box-shadow" id="@questionDivId">
                <div class="card-body">
                    <div class="font-weight-bold mb-2">@mcq.QuestionNumber) @mcq.Question</div>

                    @{
                        int answerNumber = 1;
                        string answerLetter = "";
                    }

                    <div class="ml-0">
                        @foreach (var option in mcq.Options)
                        {
                            switch (answerNumber)
                            {
                                case 1:
                                    answerLetter = "a";
                                    break;
                                case 2:
                                    answerLetter = "b";
                                    break;
                                case 3:
                                    answerLetter = "c";
                                    break;
                                case 4:
                                    answerLetter = "d";
                                    break;
                            }
                            <div>
                                <label class="font-italic">@answerLetter.</label>
                                @{
                                    string checkedOption = option.AnsId == mcq.SelectedOptionId ? "checked" : "";
                                    string optionName = "mcq-question-" + mcq.Id + "-" + mcq.QuestionNumber;
                                    <input type="radio" name="@optionName" @checkedOption onchange="SubmitMcqAnswer(@mcq.AttemptId,@option.AnsId,  @mcq.QuestionNumber, @mcq.Id)" />
                                }

                                <label class="font-italic mr-3">@option.Option</label>
                            </div>
                            answerNumber++;
                        }
                    </div>

                    <div class="text-right">
                        @mcq.Score/@Model.TotalScore
                    </div>
                </div>
            </div>
        }

        foreach (var theory in Model.TheoryQuestions.Where(m => m.PageNumber == Model.PageNumber))
        {
            string questionDivId = $"question-div-{theory.Id}-{theory.QuestionNumber}";
            string textareaId = $"question-textarea-{theory.Id}-{theory.QuestionNumber}";
            string answerValue = string.IsNullOrEmpty(theory.Answer) ? "": theory.Answer;
            <div class="card my-3 box-shadow" id="@questionDivId">
                <div class="card-body">
                    <div class="font-weight-bold mb-2">@theory.QuestionNumber) @theory.Question</div>
                    <textarea value="@answerValue" class="form-control" rows="5" id="@textareaId" name="@textareaId" onchange="SubmitTheoryAnswer(@theory.AttemptId, '@textareaId', @theory.QuestionNumber, @theory.Id)" oninput="this.onchange()">@answerValue</textarea>
                </div>
            </div>
        }
    }
    <div class="text-center">
        @{
            int prevPage = Model.PageNumber - 1;
            int nextPage = Model.PageNumber + 1;

            if (Model.PageNumber != 1)
            {
                <a class="btn btn-sm btn-custom-primary text-white" style="cursor:pointer" onclick="MoveToPage(@Model.AttemptId, @prevPage, '')">Previous page</a>
            }
            if (Model.PageNumber != Model.TotalPage)
            {
                <a class="btn btn-sm btn-custom-primary text-white" style="cursor:pointer" onclick="MoveToPage(@Model.AttemptId, @nextPage, '')">Next page</a>
            }
        }

    </div>


</form>