@model OnlineSchool.Models.ExamModel
@{
    ViewData["Title"] = "Exam";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>@Model.CourseCode | @Model.CourseTitle | </h2>
    <h3>@Model.Title</h3>
</div>
<form method="post">
    @{
        int questionNumber = 1;
        foreach (var mcq in Model.McqQuestions)
        {
            <div class="font-weight-bold">@questionNumber. mcq.Question</div>
            int answerNumber = 1;
            string answerLetter = "";

            <div class="ml-5">
                @foreach (var option in mcq.Options)
                {
                    switch (answerNumber)
                    {
                        case 1:
                            answerLetter = "a";
                            break;
                        case 2:
                            answerLetter = "b";
                            break;
                        case 3:
                            answerLetter = "c";
                            break;
                        case 4:
                            answerLetter = "d";
                            break;
                    }

                    <label class="font-italic">@answerLetter.</label>
                    @if(option.AnsId == mcq.SelectedOptionId)
                    {
                        <input checked type="radio" onchange="SubmitMcqAnswer(@mcq.AttemptId,@option.AnsId)"/>
                    }
                    else
                    {
                        <input type="radio" onchange="SubmitMcqAnswer(@mcq.AttemptId,@option.AnsId)"/>
                    }

                    <label class="font-italic mr-3">@option.Option</label>
                    answerNumber++;
                }
            </div>
            questionNumber++;
        }
    }

    <input type="submit" value="submit" />
</form>

<script>
    function SubmitMcqAnswer(attemptId, answerId) {
        console.log("changed");
        $.ajax({
            url: "/exam/SubmitMcqAnswer",
            data: { mcqAttemptId: attemptId, answerId: answerId },
            success: function (result) {
                console.log("submitted");
            }
        })
    }
</script>